@import "tailwindcss";

.loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid rgb(207, 204, 204);
  border-right-color: rgb(27, 27, 189);
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
